DirectoryIndex index.php index.html

<IfModule mod_rewrite.c> 
RewriteEngine On
RewriteBase /

# Redirect to http://matthewmcvickar.com even if they try add "www."
RewriteCond %{HTTP_HOST} ^www\.matthewmcvickar\.com$ [NC]
RewriteRule ^(.*)$ http://matthewmcvickar.com/$1 [R=301,L]

# Welwing
RewriteRule ^welwing.*/?$ http://welwing.bandcamp.com [R=301,L]
RewriteRule ^lapwing.*/?$ http://welwing.bandcamp.com [R=301,L]
RewriteRule ^djcpcd.*/?$ http://welwing.bandcamp.com [R=301,L]

# Archive
RewriteRule ^photos/butterfield_bunch/?$ /archive/butterfield_bunch [R=301,L]
RewriteRule ^photos/pumpkins/?$ /archive/pumpkins [R=301,L]
RewriteRule ^photos/murder_mystery_party/?$ /archive/murder_mystery_party [R=301,L]
RewriteRule ^photos/ryans_night/?$ /archive/ryans_night [R=301,L]
RewriteRule ^photos/zach_wizard/?$ /archive/zach_wizard [R=301,L]
RewriteRule ^photos/night_lights/harwich/?$ /archive/night_lights [R=301,L]
RewriteRule ^photos/japanoramas/?$ /archive/japanoramas [R=301,L]
RewriteRule ^youarelisteningtohawaii/?$ /archive/youarelisteningtohawaii [R=301,L]
RewriteRule ^music/a_month_without/?$ /archive/a_month_without_music [R=301,L]
RewriteRule ^music/best_of_2008/?$ /archive/best_music_of_2008 [R=301,L]
RewriteRule ^music/best_of_2007/?$ /archive/best_music_of_2007 [R=301,L]
RewriteRule ^journals/to_hawaii/?$ /archive/to_hawaii [R=301,L]
RewriteRule ^journals/japan/2005-2006/?$  /archive/japan2005-2006 [R=301,L]
</IfModule>