.page-home {

  & .intro {
    & img {
      display: block;
      margin: 0 auto $line auto;
      max-width: 100%;
    }

    @media (max-width: $screen-xs-max) {
      & h2 {
        display: none;
      }
    }
  }

  & .for-hire {
    margin-left: calc(- $line);
    margin-right: calc(- $line);
    padding: $line;

    background: linear-gradient(180deg, $blue 0%, $dark-blue 100%);
    color: white;

    & h2 {
      color: white;
      font-size: 28px;
      font-weight: bold;
      margin-top: 0;
      max-width: 100%;
    }

    & p {
      font-size: 18px;
    }

    & a {
      border-bottom: 2px solid white;
      color: white;
      font-weight: bold;
    }
  }

  & .links {
    $link-padding: calc($line/3);

    & ul {
      list-style: none;
      margin: calc(- $link-padding) 0 0 0;
      padding: 0;
    }

    & li {
      color: $light;
      padding: $link-padding 0;
      text-indent: calc(- $link-padding);

      & a {
        padding: $link-padding 0 $link-padding $link-padding;
      }

      & code {
        background: $lighter;
        border-radius: $curve;
        padding: 1px 2px;
      }
    }
  }

  @media (min-width: $screen-md) {
    & .intro img {
      margin-bottom: 0;
    }

    & .for-hire {
      border-radius: $curve;
      padding: $line;

      display: flex;

      h2 {
        margin-top: -3px;
      }
    }
  }

  @media (min-width: $screen-sm) {
    & .intro img {
      float: right;
      margin-top: calc($line/3);
      margin-left: $line;
      width: 100px;
    }
  }
}
