@use "variables";

* {
  position: relative;
  box-sizing: border-box;
}

/* Additional reset. */
h1,
h2,
h3,
ol,
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

::selection {
  background: variables.$blue;
  color: white;
}

body {
  color: variables.$dark;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin: 0 variables.$line;
}

a {
  color: variables.$blue;
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &:hover {
    color: variables.$dark;
  }
}

.site-container {
  margin: 0 auto variables.$line auto;
  max-width: 520px;
}

h1,
h2 {
  font-weight: normal;
}

h1,
h2,
h3,
h4
{
  & a {
    color: inherit;
  }
}

h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: variables.$line;
  margin-bottom: 0;
}

h2 {
  color: variables.$slate;
  font-size: 18px;
  margin: variables.$line 0 variables.$half-line;
  text-transform: uppercase;
}

h3 {
  color: variables.$dark;
  font-size: 20px;
  margin: 0 0 variables.$half-line 0;
}

h4 {
  color: variables.$gray;
  font-size: 16px;
  margin: variables.$half-line 0;
  text-transform: uppercase;
}

p {
  line-height: 1.6;
  margin: 0;
  padding: 0 0 variables.$half-line;

  &:last-child {
    padding-bottom: 0;
  }
}

ul {
  list-style: square;
  margin: 0;
  padding: 0 0 0 variables.$line;
}

li {
  line-height: 1.6;
  padding: 0;
}

.site-content {
  margin-top: variables.$line;
}

section {
  margin-bottom: variables.$line*3;
}

.page > section {
  margin-bottom: variables.$line*2;
}
