.page-home {

  & .portrait {
    display: block;
    margin: 0 auto $line auto;
    max-width: 250px;
    border-radius: 50%;
    overflow: hidden;
  }

  & h2 {
    font-weight: bold;
  }

  @media (max-width: $screen-xs-max) {
    & .intro h2 {
      display: none;
    }
  }

  & .for-hire {
    margin-left: -$line;
    margin-right: -$line;
    padding: $line;

    background: linear-gradient(180deg, $blue 0%, $dark-blue 100%);
    color: white;

    & h2 {
      color: white;
      font-size: 28px;
      font-weight: bold;
      margin-top: 0;
      max-width: 100%;
    }

    & p {
      font-size: 18px;
    }

    & a {
      border-bottom: 2px solid white;
      color: white;
      font-weight: bold;
    }
  }

  & .links {
    $link-padding: $line/3;

    & ul {
      list-style: none;
      padding: 0;
    }

    & li {
      color: $gray;
      padding: $link-padding 0;
      // text-indent: -$link-padding;

      & a {
        padding: $link-padding 0;
      }

      & code {
        background: $light-gray;
        border-radius: $curve;
        padding: 1px 2px;
      }
    }

    & a {
      font-weight: 500;
    }
  }

  @media (min-width: $screen-md) {
    & .intro img {
      margin-bottom: 0;
    }

    & .for-hire {
      border-radius: $curve;
      padding: $line;

      display: flex;

      h2 {
        margin-top: -3px;
      }
    }
  }

  @media (min-width: $screen-sm) {
    & .intro img {
      float: right;
      margin-top: $line/3;
      margin-left: $line;
      width: 175px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
