@use "variables";

.page-home {
  & .portrait {
    display: block;
    margin: 0 auto variables.$line auto;
    max-width: 250px;
    border-radius: 50%;
    overflow: hidden;
  }

  & h2 {
    font-weight: bold;
  }

  @media (max-width: variables.$screen-xs-max) {
    & .intro h2 {
      display: none;
    }
  }

  & .for-hire {
    margin-left: -(variables.$line);
    margin-right: -(variables.$line);
    padding: variables.$line;
    display: block;

    background: linear-gradient(180deg, variables.$blue 0%, variables.$dark-blue 100%);
    color: white;

    & h2 {
      color: white;
      font-size: 28px;
      font-weight: bold;
      margin-top: 0;
      max-width: 100%;
    }

    & p {
      font-size: 18px;
    }

    & a {
      border-bottom: 2px solid white;
      color: white;
      font-weight: bold;
    }

    & strong {
      color: variables.$dark;
      border-radius: variables.$curve;
      background: variables.$light-blue;
      padding: 2px 4px;
    }
  }

  & .links {
    $link-padding: variables.$third-line;

    & ul {
      list-style: none;
      padding: 0;
    }

    & li {
      color: variables.$gray;
      padding: $link-padding 0;
      // text-indent: -$link-padding;

      & a {
        padding: $link-padding 0;
      }

      & code {
        background: variables.$light-gray;
        border-radius: variables.$curve;
        padding: 1px 2px;
      }
    }

    & a {
      font-weight: 500;
    }
  }

  @media (min-width: variables.$screen-md) {
    & .intro img {
      margin-bottom: 0;
    }

    & .for-hire {
      box-shadow:
        -6px -6px 0 rgba(variables.$blue, .4),
        -12px -12px 0 rgba(variables.$blue, .2);
      border-radius: variables.$curve-big;
      padding: variables.$line;

      h2 {
        margin-top: -3px;
      }
    }
  }

  @media (min-width: variables.$screen-sm) {
    & .intro img {
      float: right;
      margin-top: variables.$third-line;
      margin-left: variables.$line;
      width: 175px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
