@use "variables";

.page-payment {
  & h2 {
    color: variables.$blue;
    font-weight: bold;

    & br {
      display: none;
    }
  }

  @media (min-width: variables.$screen-md) {
    & section:not(.for-hire) {
      margin-top: variables.$line*1.75;
    }

    & h2 br {
      display: inline-block;
    }
  }
}
