/* Breakpoints */
$screen-xs-max: 499px;
$screen-sm: 500px;
$screen-md: 740px;

/* Colors. */
$blue:       #0079CA;
$dark-blue:  #007ACC;
$dark:       #333;
$gray:       #717171;
$light-gray: #F6F6F6;

/* Dimensions. */
$line:    20px;
$curve:   4px;
$indent:  160px;
