.container > header
  nav
    font-weight: bold
    margin-top: $line/3
    text-align: center

    ul,
    li
      display: inline
      list-style: none
      margin: 0
      padding: 0

    a
      display: inline-block
      line-height: 1
      padding: 7px 12px

    +breakpoint(full)
      margin-top: 0
      margin-left: $indent
      text-align: left

      &:before
        content: "↳"
        margin-right: -4px
        vertical-align: -1px

      a
        padding: 3px 8px

      li:after
        content: " ■ "
        font-size: 6px
        vertical-align: 3px

      li:last-child:after
        display: none
