.home

  .intro
    img
      margin-bottom: $line
      max-width: 100%

    +breakpoint(0, medium)
      h2
        display: none

  .for-hire
    margin-left: -$line
    margin-right: -$line
    padding: $line

    background: linear-gradient(180deg, $blue 0%, $blue*.8 100%)
    color: white

    .animation
      display: none

    h2
      color: white
      font-size: 28px
      font-weight: bold
      margin-top: 0
      max-width: 100%

    p
      font-size: 18px

    a
      border-bottom: 2px solid white
      color: white
      font-weight: bold

  .links
    $link-padding: $line/3

    ul
      list-style: none
      margin: -$link-padding 0 0 0
      padding: 0

    li
      color: $light
      padding: $link-padding 0
      text-indent: -$link-padding

      a
        padding: $link-padding 0 $link-padding $link-padding

      code
        background: $lighter
        border-radius: $curve
        padding: 1px 2px


  +breakpoint(full)
    .intro
      img
        margin-bottom: 0

    .for-hire
      border-radius: $curve
      padding: $line

      display: flex

      h2
        margin-top: -3px

  +breakpoint(medium)
    .intro
      img
        float: right
        margin-top: $line/3
        margin-left: $line
        width: 100px
