<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# URLs without extensions.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^portfolio/?$ portfolio.html [NC,L]
RewriteRule ^work/?$ portfolio.html [R=301,L]
RewriteRule ^skills/?$ skills.html [NC,L]
RewriteRule ^about/?$ about.html [NC,L]
RewriteRule ^payment/?$ payment.html [NC,L]
RewriteRule ^payme/?$ payment.html [R=301,L]
</IfModule>
